/* Footer */
footer {
  background-image: -webkit-linear-gradient(#00665F, #1D766F, #00665F);
  background-image: -moz-linear-gradient(#00665F, #1D766F, #00665F);
  background-image: linear-gradient(#00665F, #1D766F, #00665F);
}

footer nav {
  float: left;
  font-size: 1.1em;
  margin: 10px;
}

footer nav a:hover {
  box-shadow: none;
  color: #FFEECC;
}

footer:after {
  /* clearfix hack */
  content: "";
  display: table;
  clear: both;
}
